<h1>BIKES! BIKES! BIKES!</h1>
<h2>Contact us!</h2>


<div class="fluid-container info-box">
<h3>Send all of your bike related questions, concerns, thoughts and dreams to us.</h3>


<div class="info-box">
  <%= flash[:notice] %>
  <%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Your Name", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, class: "form-control", placeholder: "Your Email", required: true %>
    </div>
    <div class="form-contol">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control", placeholder: "Your Message", rows: 8, required: true %>
    </div>
  <%= form.submit "Send", class: "btn btn-outline-secondary" %>
  <% end %>

</div>

  <div class="flex">
  <%= image_tag("mail.svg", :alt => "email") %><h4></span>bikes@bikesberlin.de</h4>
  </div>

</div>
