<nav class="navbar navbar-expand-sm navbar-dark justify-content-between fixed-top">
  <a class="navbar-brand" href="#">Bikes! Bikes! Bikes!</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Home", root_path %></li>
      <li class="nav-item"><%= link_to "About", simple_pages_about_path %></li>
      <li class="nav-item"><%= link_to "Contact", simple_pages_contact_path %></li>
      <li class="nav-item"><%= link_to "Products", products_path %></li>
    </ul>
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Account
    </button>
        <div class="dropdown-menu">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "dropdown-item") %>
          <%= link_to('Edit Password/Email', edit_user_registration_path, class: "dropdown-item") %>
          <%= link_to('Edit Name', edit_user_path(current_user), class: "dropdown-item") %>
        </div>
    </div>
    <% else %>
    <li class="nav-item">
      <%= link_to('Login', new_user_session_path, class: "nav-link") %>
    </li>
    
    <% end %>
    </li>
    </ul>
    <%= form_with(url: products_path, method: 'get', local: true, class: "form-inline") do |form| %>
          <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control form-control-sm mr-sm-2", placeholder: "Search..." %>
          <%= form.submit 'Search', class: 'btn btn-sm my-sm-0' %>
    <% end %>
  </div>
</nav>