<div class="container">
  <h2>Order Information</h2>
  <table>
  <tr>
  <td>
  <%= link_to image_tag(@order.product.image_url), product rescue nil %>
  </td></tr>
  <tr>
  <td>
  <strong>Ordered by: </strong>
  </td>
  <td>
  <%= @order.user.first_name %> <%= @order.user.last_name %>
  </td>
  </tr>
  <tr>
  <td>
  <strong>Product Name: </strong>
  </td><td><%= @order.product.name %></td></tr>
  <tr>
  <td>
  <strong>Product Price: </strong></td><td><%= number_to_currency(@order.product.price) %></td></tr>
  <tr>
  <td>
  <strong>Total Price: </strong></td><td><%= number_to_currency(@order.total) %></td> </tr>

  </table>
  
</div>