<% cache product do %>
  <div class="col-md-6 col-lg-4 product-box">
    <div class="container-fluid product-holder">
    
      <h3><%= product.name %></h3>
    
    <% if product.image_url.present? %>
    <div>
      <%= link_to image_tag(product.image_url), product rescue nil %>
      </div>
    <% else %>
      <div></div>
    <% end %>
    <p>
      Description: <%= product.description %>
    </p>
    <p>
      Color: <%= product.colour %>
    </p>
    <p>
      Price: <%= number_to_currency(product.price) %>
    </p>
    </div>
  </div>

  <% end %>