<h1>Bikes! Bikes! Bikes!</h1>
<h2>Products.</h2>
<p>
  <h1><%= @product.name %></h1>
</p>

<div class="container">
  
    <p>
    <% if @product.image_url.present? %>
      <%= image_tag(@product.image_url, class:"img-fluid mx-auto d-block") %>
    <% end %>
    </p>
  
  <div class="row reviews">
    <div class="col-md-6">
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @product.colour %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price) %>
      </p>
      <div class="flex-container">
        <p><strong>Average Rating:</strong></p>
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
      </div>
      <%= render 'new_comment' %>
    </div>
      
    <div class="col-md-6">
      <strong>Recent Reviews:</strong>
      <%= render 'comments' %>
    </div>
  </div>
  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  <% end %>
  </div>


  

</div>