<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Bikes! Bikes! Bikes!</h1>
<h2>Products.</h2>
<p>
  <h1><%= @product.name %></h1>
</p>

<div class="container">
  <p>
    <%= image_tag(@product.image_url, class:"img-responsive") %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @product.colour %>
  </p>

   <p>
    <strong>Price:</strong>
    <%= @product.price %> Dollars
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

</div>